.mainfooter {
    padding: 10px 0;
    background: #333;
    font-size: 15px;
    color: #0894d1;
  
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px 0 0 0;
    width: 100%;
    text-align: center;
    color: black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
}
