
.Navbar{
    font-size: 140%; 
    font-weight: 500;
    background-color:rgb(243, 204, 204);
    color: rgb(1, 41, 18);
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo{
    height:50px;
    width: 50px;
    margin-left:5%;
  
}
h3{
    font-size: 110%;
}
